/* Header Style */
*    
    transition: all .15s ease-in-out

header 
    background-color: #fff
    width: 100%
    position: absolute
    top: 0
    z-index: 99

.meta-nav
    margin: 0 auto
    display: flex
    justify-content: space-around
    width: 100%

.meta-nav li 
    display: inline-block
    padding: 10px
    margin: 0
    letter-spacing: 0.05em
    font-size: 0.8em

.meta-nav li:hover
    background-color: $lgray


.label
    margin: 10px auto
    display: block
    padding: 20px 0
    max-width: 70%
    text-align: center

nav 
    height: 70px
    margin: 0
    padding: 20px 0 0 0


header > h1 
    margin: 0 auto 30px
    padding-top: 30px
    text-align: center

header > h2
    margin: 0 auto 20px
    text-transform: uppercase
    text-align: center
    letter-spacing: 0.09em

.entries
    left: 0px
    display: inline-block
    padding: 14px 20px 0
    clear: both
    font-size: 0.8em

form
    display: inline-block
    padding: 24px 20px 0
    margin: 0 auto
    float: right

input[type="text"]
    outline: none
    padding: 8px
    color: $dgray
    border: 1px solid $mgray

button
    margin-left: 10px
    background-color: #fff
    color: mdgray
    border: 1px solid $mgray
    outline: none
    letter-spacing: 0.05em
    cursor: pointer
    padding: 5px

button:active
    background-color: $dgray
    color: #fff


hr 
    margin: 0
    color: $dgray

nav > ul 
    margin: 0 auto
    padding: 0
    display: flex
    justify-content: space-around
    max-width: 690px


nav > ul > li 
    display: inline-block
    padding: 10px
    margin: 10px
    letter-spacing: 0.05em
    font-size: 0.8em
    
nav > ul > li:hover
    background-color: $lgray
    .sub-nav
        display: block

nav > ul > li a 
    text-decoration: none
    color: $dgray


.sub-nav
    position: absolute
    background-color: #fff
    /* background-color: $lgray */
    /* border: 1px solid $dgray */
    display: none
    padding-top: 10px
    width: 100%
    margin: 0 auto
    left: 0
    text-align: center


.sub-nav > ul
    padding: 0
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 100%

.sub-nav  li
    display: inline-block
    background-color: #fff
    padding: 8px 10px 8px 10px
    letter-spacing: 0
    margin: 10px

.sub-nav > ul > li
    margin: 5px
/*     border: 1px solid $dgray */

.sub-nav li a
    margin: 0 auto

.fa
    margin: 0 auto

.fa-search
    padding: 8px

.fa-caret-down
    padding-left: 2px

.caret
    /* align-self: flex-end */
    vertical-align: baseline
    text-align: center


.sub-sub-nav
    display: none
    background-color: #fff
    position: absolute
    width: 100%
    left: 0
    text-align: center
    margin: 0 auto

.sub-sub-nav li
    background-color: #fff
    margin: 10px 10px
    padding: 0
/*     border-left: 1px solid $dgray
    border-right: 1px solid $dgray */

.sub-nav li:hover
    background-color: $lgray

    .sub-sub-nav
        display: block

.sub-sub-nav li a
    border: none
    display: inline-block
    background-color: #fff
    padding: 10px
    letter-spacing: 0


.sub-sub-nav li a:hover
    background-color: $lgray




/* Media Queries */
@media (max-width: 560px)

    .meta-nav
        margin: 0 auto
        justify-content: center

    .meta-nav li 
        letter-spacing: 0.05em
        font-size: 0.6em

    .label
        margin: 30px auto
        border-top: 1px solid $mgray
        border-bottom: 1px solid $mgray
        

    .search
        margin: 0 auto


    .entries
        display: block
        text-align: center
        clear: both


    form
        float: none
        display: block
        text-align: center

    form input
        width: 130px

    nav > ul 
        margin: 0 auto
        padding: 10px 0 0 0
        display: block
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        width: 100%
        text-align: center


    nav > ul > li 
        display: block
        margin: 0 auto
        padding: 0 0 5px 0
        letter-spacing: 0.05em
        border-bottom: 1px solid $mgray
        background-color: #fff

    nav > ul > li:hover
        background-color: #fff

    hr 
        display: none

    .sub-nav
        position: relative

    .sub-nav > ul
        display: block
        text-align: center
        transition: .6s ease-in


    .sub-nav li
        padding: 0
        padding: 5px
        letter-spacing: 0
        margin: 0 0 10px
        border-left: none
        background-color: #FFF


        .sub-sub-nav
            padding: 0
            margin: 0

        .sub-sub-nav li
            padding: 0
            flex-wrap: wrap

