/* Main Style */
body 
    background: url("../img/epic.jpg")
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 100%

body:before 
    content: ""
    display: block
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: -1
    background-color: rgba($dgray, 0.9)

main 
    max-width: 100%
    height: 100%
    margin-bottom: 0px
    position: relative

main .greeting 
    max-width: 690px
    margin: 520px auto 0
    /* border: 5px solid #fff */
    padding: 20px 40px

main .greeting h2 
    font-size: 2.9em
    text-align: center
    color: #fff
    font-weight: 900
    line-height: 1.5em
    text-transform: uppercase
    letter-spacing: 0.1em

main .greeting p 
    letter-spacing: 0.08em
    font-size: 1.2em
    line-height: 1.7em
    font-weight: 100
    font-family: 'Lora'
    color: #fff
    /* word-spacing: -0.06em */

.links
    color: $turq
    &:hover
        border-bottom: 1px solid $turq

.more
    letter-spacing: 0.05em
    font-weight: 100
    font-size: 1.2em
    float: right
    border: 1px solid $turq
    display: inline-table
    margin-top: 20px
    padding: 10px
    &:hover
        background-color: $turq
        color: #fff


main .greeting
    margin-bottom: 260px

main .content 
    background-color: #fff
    padding: 20px 0
    margin: 0 auto
    text-align: center
    bottom: 0px
    max-width: 100%

main .content h2
    font-size: 2.2em
    letter-spacing: 0.02em
    word-spacing: 0.1em
    display: inline-table
    font-weight: 900
    color: $ldgray


.articles
    color: $ldgray
    font-family: 'Lora', Georgia
    display: flex
    padding: 0 40px
    font-weight: 100
    font-size: 1.2em
    letter-spacing: -0.01em
    word-spacing: 0.02em
    justify-content: space-between
    text-align: left
    max-width: 720px
    margin: 0 auto
    line-height: 1.6em


.articles article
    display: inline-block




@media (max-width: 760px) 
    .articles
        display: block
        margin: 0 auto
        text-align: left
        max-width: 92%

    .articles article
        max-width: 100%
        padding-bottom: 20px


@media (max-width: 640px) 

    main .greeting
        max-width: 720px
        margin: 760px auto 120px
        /* border: 5px solid #fff */
        padding: 20px 40px

    main .greeting h2 
        font-size: 2.2em
        text-align: center
        color: #fff
        font-weight: 900
        line-height: 1.5em
        text-transform: uppercase
        letter-spacing: 0.15em

    main .greeting p 
        letter-spacing: 0.07em
        text-align: left
        line-height: 1.6em
        word-spacing: 0

    .more
        float: none

    .articles
        max-width: 98%
        font-size: 1.2em
        line-height: 1.5em
        letter-spacing: -0.01em


@media (max-width: 400px) 

    main .greeting 
        max-width: 720px
        padding: 20px 20px

    main .greeting p
        font-size: 1rem

    main .more
        font-size: 1rem


    main .content .articles
        padding: 20px

    main .content h2
        font-size: 1.6em
        margin: 20px 0 10px
        padding: 0 20px

    main .content p
        font-size: 1rem