body 
    font-family: 'Lato'
    background-color: $body
    margin: 0
    padding: 0
    color: $dgray


h1 
    font-family: 'Playfair Display'
    font-size: 2.5em
    padding: 0
    margin: 0
    letter-spacing: -0.04em

h2
    font-weight: 100
    font-size: 1.1em

li
    list-style: none

ul
    padding: none 

li 
    padding: none

nav > li
    font-size: 14px

.sub-nav > ul > li
    font-size: 12px


.sub-sub-nav > li
    font-size: 10px